html
{
    margin: 0;
    padding: 0;
    height: 100%;
}
body
{
    position: relative;
    margin: 0;
    min-height: 100%;
    background-color: darkgray;
}

p, li
{
    color: dimgrey;
}

.div_centred
{
    text-align: center;
}
/* CSS Navbar */

#navigation-list
{
    list-style-type: none;
    background-color: #333;
    margin: 0;
    padding: 0;
    height: 50px;
    width:100%;
}

#navigation-list > li
{

    display: inline-block;
    width: 15%;
    height: 100%;
}

a.nav-link
{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    height: 100%;
}

#navigation-list>li:hover a.nav-link 
{
    color: white;
}

#navigation-list>li:hover
{
    background-color: black;
}

/* End CSS Navbar */

div#presentation, div#hobbies
{
    margin-bottom: -16px;
    margin-top: -16px;
}

div#presentation
{
    background-color: beige;
}
div#hobbies
{
    background-color: azure;
}

div#climbing
{
    position: relative;
}

div#hobbies_list, div#top
{
    width: 15%;
    margin: auto;
}
div#hobbies ol li, div#top ol li
{
    list-style-type: upper-roman;
    list-style-position: inside;
    text-align: left;
}

p.differentP
{
    color: #e74c3c;
}

#footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 1rem;
    text-align: center;
}
